:root {
    --blue-600: hsl(231, 69%, 60%);
    --red-400: hsl(0, 94%, 66%);
    --grey-50: hsl(0, 0%, 97%);
    --blue-950: hsl(229, 31%, 21%);
    --font-main: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main), serif;
    font-size: 18px;
    color: var(--blue-950);
    background-color: white;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
}



/*HEADER*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

#page-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:3rem;

    padding:3rem 0;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--red-400);
}

.login-btn {
    display: inline-block;
    height: 2.5rem;
    width: 7rem;
    border-radius: 6px;
    background:var(--red-400);
    border: 3px solid var(--red-400);
    color: white;
    text-transform: uppercase;
    font-size: inherit;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    color: var(--red-400);
    background: var(--grey-50);
}

/*MAIN*/

/*hero*/
.hero {
    margin-top: 10vh;
    display: flex ;
    text-align: center;

    gap: 50px;
}

.hero-content{
    text-align: left;
}

.hero-content,.hero-image-wrapper {
    flex: 1;
}

.hero-image-wrapper{
    position: relative;
}

.hero-image-wrapper::before {
    content:"";
    position: absolute;
    z-index:1;

    width: 150%;
    height: 80%;

    background-color: var(--blue-600);

    border-radius: 150px 0 0 150px;
    bottom: 0;
    left: 20%;
}

.hero-image {
    width: auto;
    max-height:100%;
    position: relative;
    z-index: 2;
}

.hero-btn-list {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    text-decoration: none;
    margin: 32px 0 0 0;
}

.hero-btn {
    font-family: var(--font-main),sans-serif;
    font-weight: 500;
    margin-top: 32px;
    height: 3rem;
    width: 10rem;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 6px;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#chrome-btn {
    background: var(--blue-600);
    color: var(--grey-50);
    border: 3px solid var(--blue-600);
}

#chrome-btn:hover {
    background: var(--grey-50);
    color: var(--blue-600);
}



#firefox-btn {
    background-color: var(--grey-50);
    color: var(--blue-950);
}

#firefox-btn:hover{
    border: 3px solid var(--blue-950);
}

/*features*/

.features {
    margin-top: 10vh;
    display: flex ;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#features-text {
    max-width: 30vw;
    color: grey;
}

.tabs-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    height: 3rem;
    margin: 40px 0 60px;
    gap: 40px;

    border-bottom: 3px solid var(--grey-50);
}

.tab-item {
    width: 15vw ;
    color: grey;
    justify-content: center;
    cursor: pointer ;
}

.tab-item.active {
    color: var(--blue-950);
    border-bottom: 3px solid var(--red-400);
}

.tab-item:hover {
    color: var(--red-400);
}

.features-tab.hidden {
    display: none;
}

.features-tab {
    display: flex ;
    align-items: center;
    gap: 60px;
}

.tab-image-wrapper,
.tab-info {
    flex: 1;
}

.tab-image-wrapper img {
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.tab-image-wrapper {
    position: relative;
}

.tab-image-wrapper::before {
    content: "";
    position: absolute;
    z-index: 1;

    width: 150%;
    height: 80%;
    bottom: -15%;
    right: 20%;

    border-radius: 0 150px 150px 0;
    background-color: var(--blue-600);
}

.tab-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tab-info h3{
    font-size: 32px;
    font-weight: 500;
    color: var(--blue-950);
    margin-bottom: 20px;
}

.article-text {
    font-size: 16px;
    line-height: 1.6;
    color: grey;
    margin-bottom: 30px;
}

.article-btn {
    align-self: flex-start;

    background: var(--blue-600);
    border: inherit;
    border-radius: 6px;
    height: 3rem;
    width: 7rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 3px solid var(--blue-600);
}

.article-btn:active {
    background: white;
    color: var(--blue-600);
    transition: none;
}





/*FOOTER*/

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 20px 0;
}
.attribution a {
    color: var(--blue-600);
}

