:root {
    --blue-600: hsl(231, 69%, 60%);
    --red-400: hsl(0, 94%, 66%);
    --grey-50: hsl(0, 0%, 97%);
    --blue-950: hsl(229, 31%, 21%);
    --font-main: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main), serif;
    font-size: 18px;
    color: var(--blue-950);
    background-color: white;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
}

/*FOOTER*/

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 20px 0;
}
.attribution a {
    color: var(--blue-600);
}

